<!DOCTYPE HTML>
<!--
	Arcana by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
  <title>About The Team - ParkIt</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="css/main.css" />
  <link rel="icon" href="/img/favicon.ico">
</head>

<body class="is-preload">
  <!-- Highlights -->
  <div id="page-wrapper">


    <!-- Header -->
    <div id="header">



      <!-- Logo -->
      <h1><a href="/" id="logo"><img src="/img/parkitlogo.png" width=230 height=78></a></h1>
      <h3><i>Hassle-free parking at your fingertips</i></h3>

      <!-- Nav -->
      <nav id="nav">
        <ul>
          <li><a href="/">Home</a></li>

          <li><a href="/parkit">ParkIt!</a></li>
          <li class="current"><a href="/about">About the Team</a></li>
        </ul>
      </nav>

    </div>
    <!-- Posts -->
    <section class="wrapper style1">
      <div class="container">
        <div class="row">
            <section class="col-6 col-12-narrower">
            <div class="box post">
              <a href="#" class="image left"><img src="/img/akshith.png" alt="" /></a>
              <div class="inner">
                <h3>Akshith Ambekar</h3>
                <p>Akshith is a junior at Thomas Jefferson High School for Science and Technology. Akshith is interested
                  in real-world applications of artificial intelligence and machine learning. For this project, Akshith
                  worked on implementing the Google Maps API, including pulling addresses and coordinates as well as frontend website development. Outside of hacking and
                  computer science projects, Akshith likes to bike, lift weights, and play chess.</p>
              </div>
            </div>
          </section>
          <section class="col-6 col-12-narrower">
            <div class="box post">
              <a href="#" class="image left"><img src="/img/pranav.jpg" alt="" /></a>
              <div class="inner">
                <h3>Pranav Elavarthi</h3>
                <p>Pranav is a junior at Thomas Jefferson High School for Science and Technology. Pranav is interested in web and mobile app development and how it can be used to make life easier. For this project Pranav worked on implementing the the ParkIt map API, establishing the connection with the Google Maps API, and frontend website development. Outside of hacking and computer science projects, Pranav likes to play basketball, watch Family Guy, and curl up with a good book.</p>
              </div>
            </div>
          </section>
          
        </div>
        <div class="row">
          <section class="col-6 col-12-narrower">
            <div class="box post">
              <a href="#" class="image left"><img src="/img/anukrit.jpg" alt="" /></a>
              <div class="inner">
                <h3>Anukrit Sharma</h3>
                <p>Anukrit is a junior at Thomas Jefferson High School for Science and Technology. Anukrit is interested in aviation, cybersecurity, and artificial intelligence. For this project, Anukrit worked on implementing the Google Maps API, including the address searching, map organization, and geolocation of the user, along with designing the logo. Outside of computer science, Anukrit likes to do Taekwondo, play videogames, and work out.</p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>

    <!-- Main -->


    <!-- Footer -->
    <div id="footer">
      <div class="container">
        <div class="row">
          <!--           <section class="col-3 col-6-narrower col-12-mobilep">
            <h3>Links to Stuff</h3>
            <ul class="links">
              <li><a href="#">Mattis et quis rutrum</a></li>
              <li><a href="#">Suspendisse amet varius</a></li>
              <li><a href="#">Sed et dapibus quis</a></li>
              <li><a href="#">Rutrum accumsan dolor</a></li>
              <li><a href="#">Mattis rutrum accumsan</a></li>
              <li><a href="#">Suspendisse varius nibh</a></li>
              <li><a href="#">Sed et dapibus mattis</a></li>
            </ul>
          </section>
          <section class="col-3 col-6-narrower col-12-mobilep">
            <h3>More Links to Stuff</h3>
            <ul class="links">
              <li><a href="#">Duis neque nisi dapibus</a></li>
              <li><a href="#">Sed et dapibus quis</a></li>
              <li><a href="#">Rutrum accumsan sed</a></li>
              <li><a href="#">Mattis et sed accumsan</a></li>
              <li><a href="#">Duis neque nisi sed</a></li>
              <li><a href="#">Sed et dapibus quis</a></li>
              <li><a href="#">Rutrum amet varius</a></li>
            </ul>
          </section> -->
          <section class="col-6 col-12-narrower">
            <center>
              <h3>Get In Touch</h3>
              <form action="https://formsubmit.co/aff0a599ac1a890560ba64c742df5cac" method="POST">
                <input type="hidden" name="_captcha" value="false">
                <input type="hidden" name="_next" value="https://parkit.sites.tjhsst.edu/about">
                <div class="row gtr-300">
                  <div class="col-6 col-12-mobilep">
                    <input type="text" name="name" id="name" placeholder="Name" />
                  </div>
                  <div class="col-6 col-12-mobilep">
                    <input type="email" name="email" id="email" placeholder="Email" />
                  </div>
                  <div class="col-12">
                    <textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
                  </div>
                  <div class="col-12">
                    <ul class="actions">
                      <li><input type="submit" class="button alt" value="Send Message" /></li>
                    </ul>
                  </div>
                </div>
              </form>
            </center>
          </section>
        </div>
      </div>


    </div>



  </div>

  </div>

  <!-- Scripts -->
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.dropotron.min.js"></script>
  <script src="js/browser.min.js"></script>
  <script src="js/breakpoints.min.js"></script>
  <script src="js/util.js"></script>
  <script src="js/main.js"></script>
  <h3><center>©2023, All Rights Reserved. ParkIt</center></h3>
</body>

</html>