<!DOCTYPE HTML>
<!--
	Arcana by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
  <title>ParkIt! - Find Parking Spaces Near You</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
  <link rel="icon" href="/img/favicon.ico">

</link>


  
</head>

<body class="is-preload">
    
   

  <div id="page-wrapper">

    <!-- Header -->
    <div id="header">

      <!-- Logo - use the image we made -->
      <h1><a href="/" id="logo"><img src="/img/parkitlogo.png" padding:"0px" width=230 height=78></a></h1>
      <!--<h3><i>Hassle-free parking at your fingertips</i></h3>-->

      <!-- Nav -->
      <nav id="nav">
        <ul>
          <li class="current"><a href="/">Home</a></li>
          <li><a href="/parkit">ParkIt!</a></li>
          <li><a href="/about">About the Team</a></li>
        </ul>
      </nav>

    </div>

    <!--<section id="banner">
      <header>
        <h2>ParkIt: <em>Find Parking Spaces Near You</em></h2>
        <a href="#" class="button">Learn More</a>
      </header>
    </section> -->

    <!-- Gigantic Heading -->
    <section class="wrapper style2">
      <div class="container">
        <header class="major">
          <h2>Hassle-free parking, at your fingertips.</h2>

        </header>
      </div>
    </section>

    <!-- Highlights -->
    <!--<section class="wrapper style1">-->
    <!--  <div class="container">-->
    <!--    <div class="row gtr-200">-->
    <!--      <section class="col-4 col-12-narrower">-->
    <!--        <div class="box highlight">-->
    <!--          <i class="icon solid major fa-paper-plane"></i>-->
    <!--          <h3>This Is Important</h3>-->
    <!--          <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum-->
    <!--            accumsan sed. Suspendisse eu.</p>-->
    <!--        </div>-->
    <!--      </section>-->
    <!--      <section class="col-4 col-12-narrower">-->
    <!--        <div class="box highlight">-->
    <!--          <i class="icon solid major fa-pencil-alt"></i>-->
    <!--          <h3>Also Important</h3>-->
    <!--          <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum-->
    <!--            accumsan sed. Suspendisse eu.</p>-->
    <!--        </div>-->
    <!--      </section>-->
    <!--      <section class="col-4 col-12-narrower">-->
    <!--        <div class="box highlight">-->
    <!--          <i class="icon solid major fa-wrench"></i>-->
    <!--          <h3>Probably Important</h3>-->
    <!--          <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum-->
    <!--            accumsan sed. Suspendisse eu.</p>-->
    <!--        </div>-->
    <!--      </section>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</section>-->

    <hr>
    <!-- Posts -->
    <section class="wrapper style1">
      <div class="container">
        <div class="row">
          <section class="col-6 col-12-narrower">
            <div class="box post">
              <img class="image left" id="homeimage" src="/img/traffic.png" alt="" width = 200 height = 200>
              <div class="inner">
                <h3>Avoid Congestion</h3>
                <p>Living in the city? Well, with ParkIt, it's easier than ever to find a parking spot! Simply click on the map near your destination and watch as tens to hundreds of parking spaces appear!</p>
              </div>
            </div>
          </section>
          <section class="col-6 col-12-narrower">
            <div class="box post">
              <img class="image left" id="homeimage" src="/img/destination.png" alt="" width = 200 height = 200>
              <div class="inner">
                <h3>Satellite View</h3>
                <p>Unable to find spots in large parking lots or garages? Well, you're able to quickly locate smaller and hidden parking spaces using ParkIt's built-in satellite view!</p>
              </div>
            </div>
          </section>
        </div>
        <div class="row">
          <section class="col-6 col-12-narrower">
            <div class="box post">
              <img class="image left" id="homeimage" src="/img/eco.png" alt="" width = 200 height = 200>
              <div class="inner">
                <h3>Save Resources</h3>
                <p>Low on Fuel? Well, using ParkIt's integration with Google Maps, you can choose the shortest route to your parking spot to save gas (or electricity)!</p>
              </div>
            </div>
          </section>
          <section class="col-6 col-12-narrower">
            <div class="box post">
              <img class="image left" id="homeimage" src="/img/globe.png" alt="" width = 200 height = 200>
              <div class="inner">
                <h3>Anywhere On The Globe</h3>
                <p>In a foreign country with no idea where any parking spots are? Well, ParkIt works internationally, so you don't have to worry about being stuck in the middle of a city without a spot!</p>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>

    <!-- CTA -->
    <section id="cta" class="wrapper style3">
      <div class="container">
        <header>
          <h2>Try it out!</h2>
          <a href="parkit" class="button">Find Parking Near You</a>
        </header>
      </div>
    </section>
    <br>
    <section class="col-3 col-6-narrower col-12-mobilep"><center>
            <h3>Resources</h3>
            <ul class="links">
              <li><a href="https://rapidapi.com/geolocationservices-geolocationservices-default/api/next-parking-lot/">Next Parking Lot API</a></li>
              <li><a href="https://developers.google.com/maps/documentation">Google Maps Web API</a></li>
              <li><a href="https://director.tjhsst.edu/">TJHSST Director</a></li>
              <li><a href="https://replit.com/">Replit</a></li>
            </ul>
            </center>
    </section>

    <!-- Footer -->
    <div id="footer">
      <div class="container">
        <div class="row">
          <!--           <section class="col-3 col-6-narrower col-12-mobilep">
            <h3>Links to Stuff</h3>
            <ul class="links">
              <li><a href="#">Mattis et quis rutrum</a></li>
              <li><a href="#">Suspendisse amet varius</a></li>
              <li><a href="#">Sed et dapibus quis</a></li>
              <li><a href="#">Rutrum accumsan dolor</a></li>
              <li><a href="#">Mattis rutrum accumsan</a></li>
              <li><a href="#">Suspendisse varius nibh</a></li>
              <li><a href="#">Sed et dapibus mattis</a></li>
            </ul>
          </section>
          <section class="col-3 col-6-narrower col-12-mobilep">
            <h3>More Links to Stuff</h3>
            <ul class="links">
              <li><a href="#">Duis neque nisi dapibus</a></li>
              <li><a href="#">Sed et dapibus quis</a></li>
              <li><a href="#">Rutrum accumsan sed</a></li>
              <li><a href="#">Mattis et sed accumsan</a></li>
              <li><a href="#">Duis neque nisi sed</a></li>
              <li><a href="#">Sed et dapibus quis</a></li>
              <li><a href="#">Rutrum amet varius</a></li>
            </ul>
          </section> -->
          <section class="col-6 col-12-narrower">
            <center>
              <h3>Get In Touch</h3>
              <form action="https://formsubmit.co/aff0a599ac1a890560ba64c742df5cac" method="POST">
                <input type="hidden" name="_captcha" value="false">
                <input type="hidden" name="_next" value="https://parkit.sites.tjhsst.edu/">
                <div class="row gtr-300">
                  <div class="col-6 col-12-mobilep">
                    <input type="text" name="name" id="name" placeholder="Name" />
                  </div>
                  <div class="col-6 col-12-mobilep">
                    <input type="email" name="email" id="email" placeholder="Email" />
                  </div>
                  <div class="col-12">
                    <textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
                  </div>
                  <div class="col-12">
                    <ul class="actions">
                      <li><input type="submit" class="button alt" value="Send Message" /></li>
                    </ul>
                  </div>
                </div>
              </form>
            </center>
          </section>
        </div>
      </div>


    </div>

  </div>

  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.dropotron.min.js"></script>
  <script src="js/browser.min.js"></script>
  <script src="js/breakpoints.min.js"></script>
  <script src="js/util.js"></script>
  <script src="js/main.js"></script>
  <h3><center>©2023, All Rights Reserved. ParkIt</center></h3>
</body>

</html>